.loginButton {
    position: absolute;
    right: 20px;
    top: 30px;
    z-index: 1;
    transform: translateY(-50%);
}


.logoutButton,
.logoutButton {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.test {
    height: 60px;
}