h1 {
    font-family: $header-font;
    color: #fff;
    font-size: 7.5rem;
    text-align: center;
    text-shadow: 1px 1px 10px #000;
}

p { 
   font-family: $body-font;
   font-size: 1.8rem;
   color: #fff;
}