// Variables

//Fonts
$header-font: 'Lora', serif;
$body-font: 'Cabin', sans-serif;

//Colours
$main: #4f007b;
$secondary: #00694e;
$accent: #df96ff;
$background: #a0d2cf;

$tran: .3s all ease-in-out;