@import "setup";
@import "Header";
@import "VineyardList";
@import "dashboard";
@import "login";
@import "oneVineyard";
@import "savedWines";



h1, h2, h3, h4, h5, h5, ul, li, button, form, input, img {
	margin: 0;
	padding: 0;
}

#map {
	height: 400px;
	border: 1px solid rgba(100,100,100, 0.9);
}



.wineButton, .userPosition {
	padding: 6px 6px;
	color: #a0d2cf;
	background: rgba(50,50,50, 0.9);
	border: 2px solid #7bb9b5;
	border-radius: 15px;
	box-shadow: 0 0 3px 0 rgba(25,25,25, 1);
}